

@media only screen and (min-width: 800px) {
    
    .nav1 {
        display: flex;
        justify-content: flex-end;
        background-color: #1870e4;
        color: #FFFFFF;
        padding: 5px;
        margin-bottom: 15px;
    }

    .nav2 {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .nav2 {
        display: block;
        background-color: #1870e4;
        color: #FFFFFF;
        padding: 10px;
        margin-bottom: 20px;
    }

    .nav1 {
        display: none;
    }

    .flexbox2 {
        flex-wrap: wrap;
    }

    .form {
        max-width: 400px;
    }
}



.nav1 div {
    padding: 10px;
}

a {
    color: #FFFFFF
}



h1 {text-align: center;}

body {font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    color: black;
    
}


.flexbox1 {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.flexbox2 {
    display: flex;
    padding: 10px;
}

.rightcol {
    flex-basis: 75%;
    margin: 40px;
    padding: 70px;
    
}

.leftcol {
    background-color: #06c05d;
    color: #000000;
    border-radius: 50px;
    padding: 10px;
    margin: 25px;
    width: 300px;

    
}


.quote {float: right;}

.banner {
    max-width: 100%;
    
}


h2 {
    text-align: center;
}

.skills {
    text-align: center;
    flex-wrap: wrap;
}







/* Need to include: 
Body background color
text color
link color
heading color
site navigation background
site navigation highlight color
site navigation link color       */



